.theme-dark {
  --color-surface01: var(--gray800);

  --color-primary01: var(--color-white);
  --color-primary02: #ffffff33;
  --color-primary03: var(--gray100);
  --color-hover-primary: var(--color-primary01);
  --color-pressed-primary: var(--color-primary01);

  --color-text02: var(--color-white);
  --color-text-inverse: var(--gray800);

  --color-input-field02: var(--gray800);

  --color-link-primary: var(--color-white);
  --color-hover-link: var(--color-link-primary);
  --color-active-link: var(--color-link-primary);
  --color-pressed-link: var(--color-link-primary);
  --color-visited-link: var(--color-link-primary);

  --color-error02: #fdefee;
  --color-text-error: #fdefee;

  --color-success02: #a8e168;
  --color-text-success: #a8e168;

  --color-warning02: #f7ca6a;
  --color-text-warning: #f7ca6a;

  background: var(--color-surface01);
}
