:root {
  --color-background: var(--gray50);

  --color-primary01: var(--blue500);
  --color-primary02: var(--blue25);
  --color-primary03: var(--blue50);

  --color-secondary01: var(--blue500);
  --color-secondary02: var(--red500);
  --color-secondary03: var(--red500);

  --color-danger01: var(--color-error-default);
  --color-danger02: var(--color-error-default);

  --color-error01: var(--color-error-default);
  --color-error02: var(--red800);
  --color-error-inverse: var(--red50);
  --color-text-error: var(--color-error-default);

  --color-success01: var(--color-success-default);
  --color-success02: var(--green800);
  --color-text-success: var(--color-success-default);
  --color-success-inverse: var(--green50);

  --color-warning01: var(--color-warning-default);
  --color-warning02: var(--yellow800);
  --color-text-warning: var(--color-warning-default);
  --color-warning-inverse: var(--yellow50);

  --color-surface01: var(--color-white);
  --color-surface02: var(--gray50);
  --color-surface03: var(--gray200);
  --color-surface04: var(--gray700);
  --color-surface05: var(--gray800);

  --color-default-text: var(--gray900);
  --color-text02: var(--gray800);
  --color-text03: var(--gray300);
  --color-text04: var(--color-white);
  --color-text05: var(--gray600);
  --color-text-inverse: var(--color-white);

  --color-icon01: var(--blue500);
  --color-icon02: var(--gray800);
  --color-icon03: var(--color-white);

  --color-input-field01: var(--color-white);
  --color-input-field02: var(--blue500);

  --color-hover-primary: var(--blue800);
  --color-hover-primary-text: var(--color-black);
  --color-hover-secondary: var(--blue800);
  --color-hover-tertiary: var(--blue800);
  --color-hover-surface: var(--gray50);
  --color-hover-light: var(--blue400);
  --color-hover-danger: var(--red800);

  --color-active-primary: var(--blue800);
  --color-active-secondary: var(--blue800);
  --color-active-tertiary: var(--blue800);
  --color-active-surface: var(--gray300);
  --color-active-light: var(--blue400);

  --color-pressed-primary: var(--blue400);
  --color-pressed-secondary: var(--red400);

  --color-selected-surface: var(--gray300);
  --color-selected-light: var(--gray300);

  --color-highlight: var(--blue400);

  --color-ghost01: var(--gray300);
  --color-ghost02: var(--gray500);

  --color-disabled01: var(--gray200);
  --color-disabled02: var(--gray700);
  --color-disabled03: var(--gray500);

  --shadow-focus-primary: 0 0 0 1px var(--color-white),
    0 0 4px 3px var(--color-highlight);

  --color-link-primary: var(--blue500);
  --color-hover-link: var(--blue800);
  --color-active-link: var(--blue800);
  --color-pressed-link: var(--blue400);
  --color-visited-link: var(--blue800);

  --color-inverse-link: var(--color-white);
  --color-inverse-hover-link: var(--color-white);
  --color-inverse-active-link: var(--color-white);
  --color-inverse-pressed-link: var(--color-white);
  --color-inverse-visited-link: var(--gray300);
}
