:root {
  --color-background: var(--gray50);

  --color-primary01: var(--blue500);
  --color-primary02: var(--blue500);
  --color-primary03: var(--blue500);

  --color-secondary01: var(--red500);
  --color-secondary02: var(--red500);
  --color-secondary03: var(--red500);

  --color-danger01: var(--color-error-default);
  --color-danger02: var(--color-error-default);
  --color-text-error: var(--color-error-default);
  --color-error: var(--color-error-default);
  --color-success: var(--color-success-default);
  --color-warning: var(--color-warning-default);
  --color-error-inverse: var(--red100);
  --color-success-inverse: var(--green100);
  --color-warning-inverse: var(--yellow100);

  --color-surface01: var(--gray200);
  --color-surface02: var(--color-white);
  --color-surface03: var(--gray200);
  --color-surface04: var(--gray600);
  --color-surface05: var(--gray800);

  --color-text01: var(--gray950);
  --color-text02: var(--gray950);
  --color-text03: var(--gray300);
  --color-text04: var(--color-white);
  --color-text05: var(--gray500);
  --color-text-inverse: var(--color-white);

  --color-link01: var(--blue500);
  --color-link02: var(--blue100);
  --color-link-inverse: var(--blue50);
  --color-link-visited: var(--blue800);

  --color-icon01: var(--blue500);
  --color-icon02: var(--gray950);
  --color-icon03: var(--color-white);

  --color-input-field01: var(--color-white);
  --color-input-field02: var(--color-white);

  --color-hover-primary: var(--blue800);
  --color-hover-primary-text: var(--color-black);
  --color-hover-secondary: var(--blue800);
  --color-hover-tertiary: var(--blue800);
  --color-hover-surface: var(--gray300);
  --color-hover-light: var(--blue400);
  --color-hover-danger: var(--red800);
  
  --color-active-primary: var(--blue800);
  --color-active-secondary: var(--blue800);
  --color-active-tertiary: var(--blue800);
  --color-active-surface: var(--gray300);
  --color-active-light: var(--blue400);

  --color-selected-surface: var(--gray300);
  --color-selected-light: var(--gray300);
  
  --color-highlight: var(--blue100);
  
  --color-ghost01: var(--gray300);
  --color-ghost02: var(--gray500);

  --color-disabled01: var(--gray200);
  --color-disabled02: var(--gray700);
  --color-disabled03: var(--gray300);

  --shadow-focus-primary: 0 0 2px 2px var(--color-highlight);
}