.theme-primary-black {
    --color-primary01: var(--gray950);
    --color-primary02: var(--color-white);
    --color-primary03: var(--gray100);
    --color-secondary01: var(--yellow500);
    --color-secondary02: var(--yellow500);
    --color-secondary03: var(--yellow500);
    --color-surface01: var(--color-white);
    --color-surface02: var(--color-white);
    --color-text-inverse: var(--color-white);
    --color-active-primary: var(--gray800);
    --color-hover-primary: var(--gray800);
    --color-hover-secondary: var(--gray950);
    --color-hover-tertiary: var(--gray950);
    --color-hover-primary-text: var(--gray950);
}
