:root {
  --grid-mobile-viewport: 768px;
  --grid-mobile-column: 4;
  --grid-mobile-margin: 16px;
  --grid-mobile-gutter: 16px;

  --grid-tablet-viewport: 768px;
  --grid-tablet-column: 8;
  --grid-tablet-margin: 24px;
  --grid-tablet-gutter: 24px;

  --grid-desktop-viewport: 1152px;
  --grid-desktop-column: 12;
  --grid-desktop-margin: 24px;
  --grid-desktop-gutter: 24px;

  --grid-wide-viewport: 1366px;
  --grid-wide-column: 12;
  --grid-wide-margin: 32px;
  --grid-wide-gutter: 32px;

  // These variables automatically adapt to the viewport size,
  // so that apps don't have to worry about updating the value manually.
  --grid-margin: var(--grid-mobile-margin);
  --grid-gutter: var(--grid-mobile-gutter);
  --grid-columns: var(--grid-mobile-column);
}

@media (min-width: 768px) and (max-width: 1151px) {
  :root {
    --grid-margin: var(--grid-tablet-margin);
    --grid-gutter: var(--grid-tablet-gutter);
    --grid-columns: var(--grid-tablet-column);
  }
}

@media (min-width: 1152px) and (max-width: 1365px) {
  :root {
    --grid-margin: var(--grid-desktop-margin);
    --grid-gutter: var(--grid-desktop-gutter);
    --grid-columns: var(--grid-desktop-column);
  }
}

@media (min-width: 1366px) {
  :root {
    --grid-margin: var(--grid-wide-margin);
    --grid-gutter: var(--grid-wide-gutter);
    --grid-columns: var(--grid-wide-column);
  }
}
