:root {
  --basex1: var(--space-unit);
  --basex2: calc(var(--space-unit) * 2);
  --basex3: calc(var(--space-unit) * 3);
  --basex4: calc(var(--space-unit) * 4);
  --basex5: calc(var(--space-unit) * 5);
  --basex6: calc(var(--space-unit) * 6);
  --basex7: calc(var(--space-unit) * 7);
  --basex8: calc(var(--space-unit) * 8);

  --half-x1: calc(var(--space-unit) * .5);
  --half-x3: calc(var(--space-unit) * 1.5);
  --half-x5: calc(var(--space-unit) * 2.5);
  --half-x7: calc(var(--space-unit) * 3.5);
  --half-x9: calc(var(--space-unit) * 4.5);
  --half-x11: calc(var(--space-unit) * 5.5);
  --half-x13: calc(var(--space-unit) * 6.5);
  --half-x14: calc(var(--space-unit) * 7.5);
}