/* Backward compatibility classes.
This is the old `global-text.css` file from `design-system` repo.
New tokens and classes are defined in `typography` file. */

:root {
  --dashboard-font: var(--font-family-sans);
}

.t-weight-lt {
  font-weight: var(--font-lt);
}

.t-weight-rg {
  font-weight: var(--font-rg);
}

.t-weight-sb {
  font-weight: var(--font-sb);
}

.t-align-center {
  text-align: center;
}

.t-color-light {
  color: var(--text-grey-medium);
  fill: var(--text-grey-medium);
}

.caption-01 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  font-size: var(--font-size-1);
  line-height: 16px;
}

.helper-text-01 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  font-style: italic;
  font-size: var(--font-size-1);
  line-height: 16px;
}

.body-short-01 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  font-size: var(--font-size-2);
  line-height: 20px;
}

.body-short-02 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  font-size: var(--font-size-3);
  line-height: 24px;
}

.body-long-01 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  font-size: var(--font-size-2);
  line-height: 20px;
}

.body-long-02 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-sb);
  font-size: var(--font-size-3);
  line-height: 24px;
}

.heading-01 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-sb);
  font-size: var(--font-size-2);
  line-height: 20px;
}

.heading-02 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-sb);
  font-size: var(--font-size-3);
  line-height: 24px;
}

.heading-03 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-sb);
  font-size: var(--font-size-5);
  line-height: 24px;
}

.heading-04 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-sb);
  font-size: var(--font-size-7);
  line-height: 36px;
}

.heading-05 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-sb);
  font-size: var(--font-size-8);
  line-height: 40px;
}

.expressive-heading-04 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  font-size: var(--font-size-8);
  line-height: 40px;
}

@media only screen and (max-width: 767px) {
  .expressive-heading-04 {
    font-size: var(--font-size-7);
    line-height: 36px;
  }
}

.expressive-heading-05 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-rg);
  font-size: var(--font-size-11);
  line-height: 56px;
}

@media only screen and (max-width: 1024px) {
  .expressive-heading-05 {
    font-size: 36px;
    line-height: 44px;
  }
}

@media only screen and (max-width: 767px) {
  .expressive-heading-05 {
    font-size: var(--font-size-8);
    line-height: 40px;
  }
}

.expressive-paragraph-01 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-lt);
  font-size: var(--font-size-8);
  line-height: 40px;
}

@media only screen and (max-width: 767px) {
  .expressive-paragraph-01 {
    font-size: var(--font-size-6);
    line-height: 32px;
  }
}

.quotation-01 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-lt);
  font-size: var(--font-size-8);
  line-height: 40px;
}

@media only screen and (max-width: 767px) {
  .quotation-01 {
    font-size: var(--font-size-5);
    line-height: 28px;
  }
}

.quotation-02 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-lt);
  font-size: var(--font-size-13);
  line-height: 72px;
}

@media only screen and (max-width: 1024px) {
  .quotation-02 {
    font-size: 36px;
    line-height: 44px;
  }
}

@media only screen and (max-width: 767px) {
  .quotation-02 {
    font-size: var(--font-size-8);
    line-height: 40px;
  }
}

.display-01 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-lt);
  font-size: var(--font-size-15);
  line-height: 88px;
}

@media only screen and (max-width: 767px) {
  .display-01 {
    font-size: var(--font-size-10);
    line-height: 52px;
  }
}

.display-02 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-sb);
  font-size: var(--font-size-15);
  line-height: 88px;
}

@media only screen and (max-width: 767px) {
  .display-02 {
    font-size: var(--font-size-10);
    line-height: 52px;
  }
}

.display-03 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-lt);
  font-size: 156px;
  line-height: 164px;
}

@media only screen and (max-width: 1024px) {
  .display-03 {
    font-size: var(--font-size-14);
    line-height: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .display-03 {
    font-size: var(--font-size-10);
    line-height: 52px;
  }
}

.display-04 {
  color: var(--text-grey-800);
  fill: var(--text-grey-800);
  font-family: var(--font-family-sans);
  font-weight: var(--font-sb);
  font-size: 156px;
  line-height: 164px;
}

@media only screen and (max-width: 1024px) {
  .display-04 {
    font-size: var(--font-size-14);
    line-height: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .display-04 {
    font-size: var(--font-size-10);
    line-height: 52px;
  }
}
