:root {
  --avatar-C01: #99005B;
  --avatar-C02: #B01300;
  --avatar-C03: #E62200;
  --avatar-C04: #7C4000;
  --avatar-C05: #C25600;
  --avatar-C06: #6E6D6D;
  --avatar-C07: #667D00;
  --avatar-C08: #008741;
  --avatar-C09: #00612F;
  --avatar-C10: #007D8A;
  --avatar-C11: #007DB3;
  --avatar-C12: #00548C;
  --avatar-C13: #0028B1;
  --avatar-C14: #00019C;
  --avatar-C15: #6400EE;
  --avatar-C16: #5F3FFF;
  --avatar-C17: #8B00A5;
  --avatar-C18: #B200FF;
  --avatar-C19: #C700D6;
}