:root {
  --blue950: #47220f;
  --blue900: #853a15;
  --blue800: #c2511a;
  --blue700: #ff691f;
  --blue600: #ff8124;
  --blue500: #ff9829;
  --blue400: #ffb02e;
  --blue300: #ffc733;
  --blue200: #ffd352;
  --blue150: #ffde72;
  --blue100: #ffea91;
  --blue50: #fff5b0;
}