:root {
  --blue950: #001229;
  --blue900: #001F46;
  --blue800: #002C63;
  --blue700: #003981;
  --blue600: #0047A0;
  --blue500: #0056C1;
  --blue400: #2E76CE;
  --blue300: #5893DB;
  --blue200: #82B0E7;
  --blue100: #ACCDF3;
  --blue50: #D6EAFF;
}