:root {
  --gray950: #121212;
  --gray900: #292929;
  --gray800: #3D3D3D;
  --gray700: #525252;
  --gray600: #666666;
  --gray500: #9B9B9B;
  --gray400: #ADADAD;
  --gray300: #C2C2C2;
  --gray200: #D6D6D6;
  --gray100: #EBEBEB;
  --gray50: #F6F6F6;
  --gray25: #FAFAFA
}