:root {
  --gray950: #47220f;
  --gray900: #853a15;
  --gray800: #c2511a;
  --gray700: #ff691f;
  --gray600: #ff8124;
  --gray500: #ff9829;
  --gray400: #ffb02e;
  --gray300: #ffc733;
  --gray200: #ffd352;
  --gray150: #ffde72;
  --gray100: #ffea91;
  --gray50: #fff5b0;
}