:root {
  --green950: #47220f;
  --green900: #853a15;
  --green800: #c2511a;
  --green700: #ff691f;
  --green600: #ff8124;
  --green500: #ff9829;
  --green400: #ffb02e;
  --green300: #ffc733;
  --green200: #ffd352;
  --green150: #ffde72;
  --green100: #ffea91;
  --green50: #fff5b0;
}