:root {
  --green950: #19200A;
  --green900: #22330A;
  --green800: #2B4808;
  --green700: #355D06;
  --green600: #407305;
  --green500: #568818;
  --green400: #6F9D2F;
  --green300: #8AB14A;
  --green200: #A6C66B;
  --green100: #C3DA92;
  --green50: #EFFCE0;
  --alert-green01: #233A00;
  --alert-green03: #95D150;
}