:root {
  --red950: #47220f;
  --red900: #853a15;
  --red800: #c2511a;
  --red700: #ff691f;
  --red600: #ff8124;
  --red500: #ff9829;
  --red400: #ffb02e;
  --red300: #ffc733;
  --red200: #ffd352;
  --red150: #ffde72;
  --red100: #ffea91;
  --red50: #fff5b0;
}