:root {
  --red950: #2A0005;
  --red900: #4C0009;
  --red800: #6F000D;
  --red700: #940111;
  --red600: #BA0115;
  --red500: #E2011A;
  --red400: #EB4F60;
  --red300: #EB4F60;
  --red200: #F49DA7;
  --red100: #F49DA7;
  --red50: #FDEFEE;
}