:root {
  --red950: #2A0005;
  --red900: #4C0009;
  --red800: #6F000D;
  --red700: #940111;
  --red600: #BA0115;
  --red500: #E4011C;
  --red400: #EC5163;
  --red300: #F07A88;
  --red200: #F49FA9;
  --red100: #F8BFC4;
  --red50: #FDEEED;
  --red25: #FEF6F6;
}
