:root {
  --subject-art: #7B7B06;
  --subject-art_image: #7B7B06;
  --subject-biology: #438454;
  --subject-chemistry: #BA5191;
  --subject-civics: #000080;
  --subject-computer_science: #10893E;
  --subject-earth_science: #BD3EB2;
  --subject-english: #C25353;
  --subject-food_science: #38846B;
  --subject-french: #C25353;
  --subject-geography: #378092;
  --subject-german: #C25353;
  --subject-grammar: #BE5926;
  --subject-greek: #37818A;
  --subject-history: #8B572A;
  --subject-law: #B90000;
  --subject-math: #266997;
  --subject-natural_science: #318473;
  --subject-physics: #4A7BA4;
  --subject-science_middle_school: #3A7922;
  --subject-spanish: #C25353;
  --subject-technology: #138473;
  --subject-topography: #AC6604;
  --subject-technique: #752771;
}
