:root {
  --subject-art:#C4C410;
  --subject-art_image: #C4C410;
  --subject-biology: #67C47F;
  --subject-chemistry: #C35598;
  --subject-computer_science: #1AB956;
  --subject-earth_science: #8D3EB2;
  --subject-english: #F76C6C;
  --subject-food_science: #3F9176;
  --subject-french: #F76C6C;
  --subject-geography: #57C1DB;
  --subject-german: #F76C6C;
  --subject-grammar: #F87635;
  --subject-greek: #5BCBD9;
  --subject-history: #8B572A;
  --subject-law: #B90000;
  --subject-math: #266997;
  --subject-physics: #5A94C5;
  --subject-science_middle_school: #3A7922;
  --subject-spanish: #F76C6C;
  --subject-technology: #138473;
}
