:root {
  --yellow950: #33280F;
  --yellow900: #5C4615;
  --yellow800: #85641A;
  --yellow700: #AB8125;
  --yellow600: #D09E30;
  --yellow500: #F6BB3B;
  --yellow400: #F9C852;
  --yellow300: #FBD468;
  --yellow200: #FEE17F;
  --yellow150: #ffde72;
  --yellow100: #FFEA91;
  --yellow50: #FBF4E6;
}