:root {
  --yellow950: #47220f;
  --yellow900: #853a15;
  --yellow800: #c2511a;
  --yellow700: #ff691f;
  --yellow600: #ff8124;
  --yellow500: #ff9829;
  --yellow400: #ffb02e;
  --yellow300: #ffc733;
  --yellow200: #ffd352;
  --yellow150: #ffde72;
  --yellow100: #ffea91;
  --yellow50: #fff5b0;
}